p {
	font-size: 20px; 
  	letter-spacing: 0.05em;
}

body {
	margin:0;
}

.nagivagion {
	width:100%;
	height:80px;
	background-color:white;
	padding-bottom: 3em;
}
.navigation > a {
	display: inline-block;
	vertical-align: center;
	margin-right: 20px;
	height: 80px;
	line-height: 80px;
	display: block;
	color: white;
}
a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black;}
a:hover { text-decoration: none; color: red;}
a:focus { text-decoration: none; color: yellow;}
a:hover, a:active { text-decoration: none; color: black;}

#logo {
	display: inline-block;
	vertical-align: top;
	width: 18em;
	margin-right: 20px;
	margin-top: 15px;
	border-radius: 8px;
}

.active {
	color: #D02120;
}

.header {
	background-color: white;
	padding-bottom: 1em;
	border-bottom: .5em solid #D02120;
}

.button {
	color:white;
	width: 10em;
	height: 5em;
	margin:auto;
	background-color: #D02120;
	border-color: black;
	border-radius: 8px;
	box-shadow: 5px;
	letter-spacing: 0.05em;
}
.button:hover{border-color: white}

.center {
	text-align: center;
	padding-left: 20em;
	padding-right: 20em;
}
@media only screen and (max-width: 600px){
	.center {
		text-align: center;
		padding-left: 0em;
		padding-right: 0em;
	}
	#logo {
		text-align: center;
	}
}

.divider {
	width: 5px;
	height: auto;
	display:inline-block;
	text-align: center;
}

.footer {
	text-align: center;
	border-top: .5em solid #D02120;
	background-color: #DCDCDC;
	padding-bottom: 1em;
	border-bottom: 1em solid black;
}

.utility:hover { color:red; }

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap;
	flex-wrap: wrap;
	padding: 0 4px;
}
.column {
	-ms-flex: 50%;
	flex: 50%;
	padding: 0 4px;
}
.column img {
	margin-top: 8px;
	vertical-align: middle;
	border-color: black;
}
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}
.btn:hover {
  background-color: #ddd;
}
.btn.active {
  background-color: #666;
  color: white;
}
.buttons {
	text-align: center;
	padding: 32px;
}
* {
	box-sizing: border-box;
}


