p {
  text-align: center;
  letter-spacing: 3px;
}

h2 {
	text-align: center;
	letter-spacing: 3px;
}

#logo {
	width: 20%
}

.button {
	width: 20%;
    background-color: lightblue;
}

.header {
	float: none;
	padding-bottom: 2.5em;
	border-bottom: .4em solid red;
	margin-bottom: 1em;
}

.topnav {
	background-color: white;
	overflow: hidden; l
}
.topnav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:visited {text-decoration: none; color: black;}
.topnav a:hover {text-decoration: none; color: grey;}

.topnav a.active {
	color: red;
}

.footer {
	color: #e5e5e5;
	padding-top: 2em;
	padding-bottom: 5em;
	background-color: #7f7f7f;
	border-top: 0.4em solid red;
}

.utility {
	text-align: center;
	letter-spacing: 3px;
	text-decoration: none;
	color: #fff;
}
.utility:visited {text-decoration: none;	color: white;}
.utility:hover {text-decoration: none;	color: black;}

.column {
	float: left;
	width: 33.3%;
	padding: 2em;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
}